:root {
  --textColor: #111;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: #eee;
  padding: 0 15%;
}

header {
  height: 80px;
  position: relative;
}

header a {
  color: var(--textColor);
}

header a:visited {
  color: var(--textColor);
}

nav {
  left: 50%;
  margin: auto 0;
  padding: 5px 0;
  position: absolute;
  transform: translateX(-50%);
}

nav a {
  float: left;
  padding: 0 5px;
}

nav span {
  color: #888;
  float: left;
  padding: 0 5px;
}

main {
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  border-bottom: 1px solid var(--textColor);
  color: var(--textColor);
  text-align: center;
}

p {
  margin: 25px auto;
  text-align: center;;
}

footer {
  bottom: 0;
  font-size: 10px;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100%;
}
