/* Global */

* {
  box-sizing: border-box;
  user-select: none;
}

/* Main */

main * {
  user-select: text;
}

/* Modifiers */

.select-text,
.select-text * {
  user-select: text;
}

.select-none,
.select-none * {
  user-select: none;
}
