/* Global */

* {
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
}

html,
body {
  overflow: visible;
}

header,
main,
footer {
  margin: 0 auto;
  max-width: 650px;
}

header,
footer {
  padding: 25px;
  text-align: center;
}

h1,
h2 {
  font-family: var(--ui-sans-serif);
}

img {
  width: 100%;
  height: auto;
}

/* Main */

main * {
  user-select: text;
}

main ul {
  padding: 0 25px;
}

main li {
  font-size: 1.2em;
  list-style: initial;
  margin: 0 auto 1em;
  overflow: visible;
}

main h2 {
  margin: 2em auto 1em;
  text-align: center;
}

main p {
  margin: 0 auto 1em;
}

/* Modifiers */

.select-text,
.select-text * {
  user-select: text;
}

.select-none,
.select-none * {
  user-select: none;
}

.width-400px-centralized {
  margin: 0 auto;
  max-width: 450px;
}
