/* Global */

* {
  box-sizing: border-box;
  user-select: none;
}

/* Main */

main * {
  user-select: text;
}

main ul {
  padding: 0 25px;
}

main li {
  font-size: 1.2em;
  list-style: initial;
  margin: 0 auto 1em;
  overflow: visible;
}

/* Modifiers */

.select-text,
.select-text * {
  user-select: text;
}

.select-none,
.select-none * {
  user-select: none;
}

.width-400px-centralized {
  margin: 0 auto;
  max-width: 450px;
}
