*

!.gitignore
!.prettierignore
!LICENSE
!LICENSE-CONTENT.md
!README.md
!TODO.org
!astro.config.mjs
!mise.toml
!package-lock.json
!package.json
!prettier.config.mjs
!public
!public/*
!src
!src/**
!tsconfig.json
!vercel.json
