<html>
  <body>
    <header>
      <h1>%HEADER-TITLE</h1>
      <nav>
        <ul>
          <li class="%CURRENT-PAGE"><a href="/">Home</a></li>
          <li class="%CURRENT-PAGE"><a href="/now/">Now</a></li>
          <li class="%CURRENT-PAGE"><a href="/blog/">Blog</a></li>
        </ul>
      </nav>
    </header>

    <main>
      %MAIN
    </main>

    <footer>
      <a href="/">heinrichtaver.com</a>
      <p>
        <em>
          <small>
            Born in 2019.
            Neglected until 2024.
          </small>
        </em>
      </p>
    </footer>
  </body>
</html>
