main {
  * {
    font-family: var(--ui-serif);
  }

  address,
  li,
  p {
    font-size: 1.2rem;
    line-height: 1.25em;
    text-align: justify;
  }

  a {
    color: #0000ee;
    text-decoration: underline;
  }

  address {
    font-family: var(--ui-mono);
    font-style: normal;
  }

  h2 {
    font-family: var(--ui-sans-serif);
    margin-top: 0.75em;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
  }

  li {
    list-style: disc inside;
    text-align: left;
  }
}
