<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <title>$TITLE_CONTENT$Heinrich Taver</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/@/css/index.css">
</head>

<body>
<header>
  <h1><a href="/">Heinrich Taver</a></h1>
  <nav>
    <a href="/about" class="$ACTIVE_PAGE$">Sobre mim</a>
    <a href="/contact" class="$ACTIVE_PAGE$">Contato</a>
    <a href="/now" class="$ACTIVE_PAGE$">Agora</a>
    <a href="/words" class="$ACTIVE_PAGE$">Artigos</a>
  </nav>
</header>

<main>
