@font-face {
    font-family: 'Liberation Mono';
    src: local('Liberation Mono Italic'), local('LiberationMono-Italic'),
        url('LiberationMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Mono';
    src: local('Liberation Mono Bold'), local('LiberationMono-Bold'),
        url('LiberationMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Mono';
    src: local('Liberation Mono Bold Italic'), local('LiberationMono-BoldItalic'),
        url('LiberationMono-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Mono';
    src: local('Liberation Mono'), local('LiberationMono'),
        url('LiberationMono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Sans';
    src: local('Liberation Sans Bold'), local('LiberationSans-Bold'),
        url('LiberationSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Sans';
    src: local('Liberation Sans Bold Italic'), local('LiberationSans-BoldItalic'),
        url('LiberationSans-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Sans';
    src: local('Liberation Sans Italic'), local('LiberationSans-Italic'),
        url('LiberationSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Sans';
    src: local('Liberation Sans'), local('LiberationSans'),
        url('LiberationSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Serif';
    src: local('Liberation Serif'), local('LiberationSerif'),
        url('LiberationSerif.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Serif';
    src: local('Liberation Serif Bold'), local('LiberationSerif-Bold'),
        url('LiberationSerif-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Serif';
    src: local('Liberation Serif Italic'), local('LiberationSerif-Italic'),
        url('LiberationSerif-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Serif';
    src: local('Liberation Serif Bold Italic'), local('LiberationSerif-BoldItalic'),
        url('LiberationSerif-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
